<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:layout name="Page" />
	<f:section name="Configuration">
	</f:section>
	<f:section name="Resources">
	</f:section>
	<f:section name="Content">
	
		<f:if condition="{f:cObject(typoscriptObjectPath:'lib.content')}">
			<f:then>
				<f:cObject typoscriptObjectPath="lib.content" />
			</f:then>
			<f:else>
				<em>lib.content</em> not set. Check: 
				<ul>
					<li>plugin.tx_kzcetemplating.settings.layoutsPID in constants</li>
					<li>Backend Layout selected in page</li>
					<li>Backend Layout has Backend Layout Record</li>
				</ul>
			</f:else>
		</f:if>
		
	</f:section>
</div>
