<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
	<f:layout name="Partial"/>
	<f:section name="Main">
	
		<v:content.render 
			pageUid="{pageUid}" 
			column="{column}" 
			slide="{slide}" 
			as="contentElements">
			
			<f:for each="{contentElements}" as="contentElement">
				<f:format.raw>{contentElement}</f:format.raw>
			</f:for>
			
		</v:content.render>
	
	</f:section>
</html>
