<html 
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" 
	data-namespace-typo3-fluid="true">
	<f:layout name="Content" />
    <f:render section="Main" />
</html>