<f:layout name="Page"/>

<div id="prepage">
	<f:if condition="{v:variable.typoscript(path: 'plugin.tx_kzcetemplating.settings.contentHeaderUid')}">
		<f:render partial="PageColumn" section="Main" arguments="{pageUid: '{v:variable.typoscript(path: \'plugin.tx_kzcetemplating.settings.contentHeaderUid\')}', column: 0}"/>
	</f:if>
</div>
<div id="page">
	<f:render section="Content"/>
</div>
<div id="afterpage">
	<f:if condition="{v:variable.typoscript(path: 'plugin.tx_kzcetemplating.settings.contentFooterUid')}">
		<f:render partial="PageColumn" section="Main" arguments="{pageUid: '{v:variable.typoscript(path: \'plugin.tx_kzcetemplating.settings.contentFooterUid\')}', column: 0}"/>
	</f:if>
</div>
		
