<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
	<f:layout name="Content" />
	<f:section name="Main">
	
		<f:comment> Rendering Partial "PageColumn" here not possible. Problem unknown.</f:comment>
		
		<v:content.render 
			pageUid="{f:if(condition: data.pi_flexform.settings.pageuid, then: data.pi_flexform.settings.pageuid, else: 'null')}" 
			column="{data.pi_flexform.settings.column}" 
			slide="-1" />

	</f:section>
</div>